# VSCode / Rider / IDE
.vscode/
.idea/

# .NET
bin/
obj/
*.user
*.suo
Cache/
wwwroot/

# Python
__pycache__/
*.py[cod]
venv/
media/

# Node
node_modules/
build/

# Docker
**/Dockerfile.dev
.dockerignore


