# VSCode / Rider / IDE
.vscode/
.idea/

# .NET
bin/
obj/
*.user
*.suo
Cache/
wwwroot/

# Python
__pycache__/
*.py[cod]
venv/
new_venv/


# Node
node_modules/
build/

# Docker
**/Dockerfile.dev
.dockerignore

# Django
*.log
*.log.*
*.log.*.*
*.log.*.*.*
backend/logs/

# VSCode
.vscode/

# Rider
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Документы PDF
backend/storage/documents/*.pdf
backend/storage/documents/**/*.pdf
.nuget-packages/
